* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 4em;
    background-color: rgb(49, 47, 42);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}

.header .logo {
    font-size: 2rem;
}

ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

ul a {
    color: aliceblue;
    text-decoration: none;
}









.main-1 {
    height: 20em;
    background-color: rgb(218, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-1 .text-1 {
    width: 30rem;
    /* flex-direction: column; */
    gap: 20px;
    display: grid;
}

.main-1 .text-1 p {
    width: 150%;
}

.text-1 button {
    width: 30%;
    height: 200%;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
}


.image img  {
    width: 60%;
    position: relative;
    left: 300px;
}







.main-2  {
    background-color: #fff;
    height: 50vh;
}
    

.main-2 .content {
    display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
    top: 60px;
    left: 500px; 
}



.main-2 .text-2 {
    position: relative;
    bottom: -30px;
    left: 350px;
    font-weight: 800;
}

.content img {
    width: 400px;
    height: auto;
}

.con-1 h2 {
    margin-top: 20px;
}

.con-1 p {
    margin-top: 20px;
}

.con-2 h2 {
    margin-top: 20px;
}

.con-2 p {
    margin-top: 20px;
}

.con-3 h2 {
    margin-top: 20px;
}

.con-3 p {
    margin-top: 20px;
}

.con-1 button {
    width: 40%;
    margin-top: 20px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.con-2 button {
    width: 40%;
    margin-top: 20px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.con-3 button {
    width: 40%;
    margin-top: 20px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.content .con-1 {
    position: relative;
    right: 50px;
}

.content .con-3 {
    position: relative;
    left: 50px;
}

.footer {
    background-color: rgb(63, 62, 62);
    height: 300px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
}

.footer .b-1 {
    display: grid;
    gap: 20px;
}

.footer .b-2 {
    display: grid;
    gap: 50px;
    width: 30%;
    margin-bottom: 60px;
}

.footer .b-3 {
    display: grid;
    gap: 10px;
    margin-bottom: 50px;
}

.b-3 h4 {
    margin-bottom: 40px;
}

.footer-2 {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.h-1 .box-1 {
    background-color: rgb(255, 254, 254);
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    text-align: center;
    color: black;
    display: grid;
    place-items: center;
}





